<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
<form method="POST" action="/login">
    <label for="username"> Username: </label><input name="username" id="username" />
    <label for="password">Password:</label><input type="password" name="password" id="password" />
    <input type="submit" />
</form>
</body>
</html>