<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/logout">Log out</a>
    </header>
    <div>
        <img src="https://steamuserimages-a.akamaihd.net/ugc/868480752636433334/1D2881C5C9B3AD28A1D8852903A8F9E1FF45C2C8/"/>
        <p></p>
        <label>First name: </label><p th:text="${user.firstName}"></p>
        <label>Last name: </label><p th:text="${user.lastName}"></p>
        <label>Bio: </label><p th:text="${user.bio}"></p>
    </div>
</body>
</html>